div {
  width: 400px;
  background-color: #eee;
  padding: 20px;
  margin-bottom: 10px;
}
.two {
  word-break:break-all;
  white-space:nowrap;
  overflow: hidden;
  text-overflow:"string";
}
.three {
  /* word-break: break-word; */
  white-space:nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}