div {
  width: 400px;
  height: 400px;
  background-image: url("../CSS/css-assignment-5-8.png");

}

.assign-2-shape-1 {
  background-repeat: no-repeat;
  /* background-position: left top; */
  background-size: 80% 80%;
}
.assign-2-shape-2 {
  background-repeat: repeat-y;
  /* background-position: right top; */
  background-position: 30px 0 ;
}
.assign-2-shape-3 {
  background-repeat: repeat-x;
  /* background-position: left bottom; */
  background-position: 0 30px ;
}
.assign-2-shape-4 {
  background-repeat: no-repeat;
  /* background-position: right bottom; */
  background-position: 50% 50%;
}