.parent {
  width: 800px;
  border: 5px solid #eee;
  align-items: center;
  text-align: center;
  background-color: #eee;
  font-size: 20px;
}
div {
  margin-left: 15px;
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
}
.full {
  width: calc(100% - 30px);
  background-color: #ddd;
}
.t {
  background-color: #ddd;
  width: calc((100% - 60px) / 3);
}
.h {
  width: calc((100% - 45px) / 2);
  background-color: #ddd;
}
.q {
  width: calc((100% - 75px) / 4);
  background-color: #ddd;
}
